@font-face {
  font-family: myFirstFont;
  src: url("./assets/zounderkiterotate2.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/background.jpg");
  background-size:cover;
  color: black;
}

h1 {
  font-size: 4rem;
  color: #ec1c32;
  font-family: "myFirstFont", cursive;
}

.t-shadow {
  text-shadow: 1px 1px #fcf7f7;
}

@media only screen and (max-width: 1300px) {
  h1 {
    padding: 25px 0px;
    font-size: 1.7rem;
    text-align: center;
  }
}