@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/background2.png");
  background-color: #18528f;
  /* background-color: #213c00; */
  color: #ffffff;
}

h1 {
  font-size: 3rem;
  color: black;
  font-family: "Press Start 2P", cursive;
}

.t-shadow {
  text-shadow: 1px 1px #fcf7f7;
}

@media only screen and (max-width: 1300px) {
  h1 {
    padding: 25px 0px;
    font-size: 1.7rem;
    text-align: center;
  }
}
